@font-face {
  font-family: "manifold heavy";
  font-weight: bolder;
  src: url("./fonts/Manifold/ManifoldCF-Heavy.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Heavy.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold bold";
  font-weight: bold;
  src: url("./fonts/Manifold/ManifoldCF-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Bold.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold med";
  font-weight: bold;
  src: url("./fonts/Manifold/ManifoldCF-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Medium.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold heavy oblique";
  font-style: italic;
  font-weight: bolder;
  src: url("./fonts/Manifold/ManifoldCF-HeavyOblique.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Manifold/ManifoldCF-HeavyOblique.woff") format("woff"); /* Pretty Modern Browsers */
}

$header-font: "manifold heavy";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}
