@font-face {
  font-family: "manifold heavy";
  font-weight: bolder;
  src: url("./fonts/Manifold/ManifoldCF-Heavy.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Heavy.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold bold";
  font-weight: bold;
  src: url("./fonts/Manifold/ManifoldCF-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Bold.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold med";
  font-weight: bold;
  src: url("./fonts/Manifold/ManifoldCF-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Medium.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold thin";
  font-weight: bold;
  src: url("./fonts/Manifold/ManifoldCF-Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Manifold/ManifoldCF-Thin.woff")
      format("woff"); /* Pretty Modern Browsers */
}
@font-face {
  font-family: "manifold heavy oblique";
  font-style: italic;
  font-weight: bolder;
  src: url("./fonts/Manifold/ManifoldCF-HeavyOblique.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/Manifold/ManifoldCF-HeavyOblique.woff") format("woff"); /* Pretty Modern Browsers */
}

@import url('https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap');

$header-font: "manifold heavy";

$dark: #1d1d1d;
$light: #C4C5C4;
$highlight: #E2A42B;

body {
  *{
    &::selection{
      background: $highlight;
      color: $dark;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

p {
  font-family: 'Poppins', sans-serif;
  .highlight{
    background: $highlight; 
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}



.thin {
  font-family: 'manifold thin';
}

.bold {
  font-family: $header-font;
  font-weight: bolder;
}

.small {
  font-size: .6rem;
}

.display-1 {
  font-size: 12rem;
  position: relative;
  z-index: 1;
}

.display-2 {
  font-family: 'manifold thin';
  font-style: italic;
  font-size: 4rem;
  position: relative;
  z-index: 1;
  color: $light;
}

.header {
  background-color: #1d1d1d;
  .link {
    &__light{
      color: #fff;
    }
    &__dark {
      color: #616463;
      font-family: $header-font;
      text-transform: uppercase;
      & .active {
        color: #fff;
      }
    }
  }
}

.accent-text{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;	
  letter-spacing: 1.2rem;
  color:$light;
}

.read-on {
  margin-top: 5rem;
  margin-left: 5rem;
}

.accent-text-alt{
  font-family: $header-font;
  font-size: 1.5rem;
  font-weight: bold;	
  letter-spacing: 1.5rem;
  color:#616463;
}

.accent-frame {
  border: 4px solid rgba(97,100,99,0.14);
  padding: 2rem 2rem;
}

.footer {
  margin-top: 10rem !important;
}

.footer-link {
  margin: auto;
  height: 2.2rem !important;
  width: 50%;
  color: $light;
  padding: 1rem;
  a {
    color: $light;
  }
  &:hover {
    a {
      color: $dark;
      display: block;
      line-height: 1;
    }
    background-color: $highlight;
    background-position: 0 -100px;
    color: $dark;
    font-family: $header-font;
    font-size: 2rem;
  }
}

.black-box {
  padding: 2rem 2rem 1rem;
  border: 4px solid #1D1D1D;
  border-bottom:0 ;
  &:nth-child(2){
    border-left: 0;
    border-right: 0;
  }
}

.colophon {
  align-self: flex-end;
  * {
    font-size: .8rem;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}